*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    height: 100vh;
}
.container{
    width: 100%;
    height: 100vh;
}
header{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
}
.header-top{
    width: 85%;
    height: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:10px 24px;
    margin-left: 8%;
    /* margin:20px 50px;
    transform: translate(-50%, -50%); */
    background-color: rgb(135, 177, 38);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 16px;
}
.header-top-phar{
    font-family:Arial, Helvetica, sans-serif;
    color:#fff;
}
#orange{
    color:orange;
    font-size: 1.2rem;
}
.header-top-left{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
}
.header-top-right{
    display: flex;
    gap:10px;
}
.header-top-right-phar{
    font-family:Arial, Helvetica, sans-serif;
    color:#fff;
    text-decoration: none;
}



/* ------header-bottom-------- */
.header-bottom{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 100px;
}

.header-bottom-left{
    display: flex;
    flex:1;
}
.header-bottom-left, .logo{
    font-size: 3rem;
    font-weight: 800;
    color:rgb(135, 177, 38);
    font-family:'Times New Roman', Times, serif;
    
}



/* Basic navbar styling */
.header-bottom-center{
    display: flex;
    flex: 1.5;
    justify-content: start;
    align-items: flex-end;
}

.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  display: flex;
}

.navbar > li {
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: flex-end; */

}

.navbar > li > a {
  display: block;
  padding: 14px 20px;
  color: #000;
  text-decoration: none;
}

.navbar > li > a:hover {
  background-color:#fff;
}

/* Dropdown menu styling */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  background-color: #f9f9f9;
  padding: 0;
  margin: 0;
  min-width: 160px;
  z-index: 1000;
}

.dropdown-menu li a {
  display: block;
  padding: 12px 16px;
  color:#444;
  text-decoration: none;
}

.dropdown-menu li a:hover {
  background-color: orange;
  color:rgb(135, 177, 38);
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
  display: block;
  border-radius: 8px;
}


.header-bottom-right{
    display: flex;
    flex:1;
    justify-content: end;
    align-items: center;
    gap:30px;
}
.ri-search-line{
    padding:12px;
    border:1px solid orange;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: bold;
    transition: 0.3s ease-in;
    color:rgb(135, 177, 38);
}
.ri-search-line:hover{
    background-color: orange;
    color:rgb(135, 177, 38);
    font-weight: bold;
    
}
.ri-briefcase-4-fill,
.ri-user-fill{
    font-weight: bold;
    font-size: 1.8rem;
    color:rgb(135, 177, 38);
}
.ri-briefcase-4-fill:hover,
.ri-user-fill:hover{
     color:rgba(43, 59, 4, 0.959);
}